<div class="footer">
	<h2>About</h2>
	<span class="tb-underline-white"> </span>

	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
	<p>Hitcher is an amazing app. Get a free ride forn the cost of nothing!!</p>

	<h2>Contacts</h2>
	<span class="tb-underline-white"> </span>
	<ul>
		  <li><i class="fa fa-phone"></i> 999-999-9999</li>
                    <li><i class="fa fa-envelope"></i> Hitcher@gmail.com</li>
                    <li><i class="fa fa-facebook"></i> facebook.com/Hitcher</li>
                    <li><i class="fa fa-twitter"></i> twitter.com/HitchertheBeast</li>
	</ul>
	 		<ul class="list-inline">
                    <li>&copy; Hitcher</li>
                    <li>|</li>
                    <li class="tb-copyright">Proudly created by: <a target="_blank" rel="nofollow" href="www.hitcher.com">Hitcher</a></li>
                </ul>


</div>