<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Welcome to Hitcher!</h1>
                <span class="tb-underline-white"> </span>
                <h3>Matching riders and drivers.</h3>
                <div class="pt50"></div>
                <div id="home-form">
				  <input type=text placeholder="Where are you going?">
				  <button class="btn">Start!</button>
	  			</div>
            </div>
        </div>
    </div>
</section>

<section class="section2">
	<div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                <h2>Why build a web app to share rides?</h2>
	                <h3>Because people are more inclined to do something nice when it is easy!</h3>
	            </div>
	            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	                <div class="pt50"></div>
	                <a href="#" class="btn btn-alt">How it Works</a>
	            </div>
	        </div>
	    </div>
</section>
