<div class="page-content">
	<h1>Welcome to Hitcher!</h1>
		<h3>Helping match drivers with people who need a ride to the same area right now. Why? Because people are more inclined to do something nice when it is easy!</h3>
	<div id="home-form">
	  <input type=text placeholder="Where are you going?">
	  <input type=submit value="Go!">
	</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div>
</div>