<div class="page-content">
	<h1>How can we help you?</h1>
	<p>We might try to check this, maybe.</p>
	<form onsubmit="createTrip(event)">
		<div id="contact-form">
		  <input type="text" name="email" placeholder="Email">
		  <textarea name='message' id='message' placeholder="Message"></textarea>
		  <input type="submit" value="Share">
		</div>
	</form>
<div>