<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hitcher</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<h1>Hitcher</h1>
	{{{body}}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script type = "text/javascript" src = "/js/app.js"></script>
</body>
</html>