<h1>Log In</h1>
<form onsubmit="login(event)">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="Log In">
</form>
<p>Don't have an account? <a href="/users/new">Sign Up</a></p>