body {
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 50px;
}

/* Begin Font Styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  color: #262626;
}

p {
  margin-bottom: 30px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

a {
  color: #1784fb;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
}

/* End Font Styles */

/* Start Button Styles */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 40px;

.delete-btn {
  background: red;
}

.here-btn {
  background: lightgreen;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none;
  outline: none;
}

.deleteButton:hover, .deleteButton:active, .deleteButton:focus {
  box-shadow: none;
  outline: none;
}


/* End Button Styles */

/* Form Elements */

.form-control {
  /*width: 100%;*/
}

input {
	padding: 1.1em;
	color: #333;
  margin: 5px;
}

#home-form input:focus,
#home-form input:active {
  outline: none;
}

/* End Form Elements */

.avatar-image{
  height:60px;
  width:60px;
  border: 3px solid grey;
  border-radius: 50%;
}

.trip.trip-card {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

ul {
  list-style-type: none;
}
