/* Light Green: #94D794*/
/* Darker Green: #36CC7C*/


body {
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 50px;
}

h1 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
}
h2 {
    text-transform: uppercase;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}
h4 {
    text-transform: uppercase;
    color: #484f52;
    padding: 10px 0;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px; 
}

a {
  color: #94D794;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus, a:active {
  color: #36CC7C;
}

/* End Font Styles */

.navbar-default .navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #36CC7C;
}

.navbar-default:hover .navbar-brand:hover {
  font-family: 'Pacifico', cursive;
  color: #94D794;
}

/* Start Button Styles */
.btn, .btn-alt {
  padding: 20px 30px;
  margin: 0;
  line-height: 10px;
  border-color: transparent;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #94D794;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #94D794;
    color: #94D794;
    background-color: transparent;
    font-weight: normal;
}

.delete-btn {
  /*background: red;*/
}

.here-btn {
  /*background: lightgreen;*/
}

.btn:hover, .btn:active, .btn:focus {
  border-color: transparent;
    color: #fff;
    background-color: #36CC7C;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 400;
    background-image: none;
}

.btn-alt:hover, .btn-alt:active, .btn-alt:focus  {
  border-color: #94D794;
    color: #fff;
    background-color: #94D794;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 400;
}

.deleteButton:hover, .deleteButton:active, .deleteButton:focus {
  box-shadow: none;
  outline: none;
}

/* End Button Styles */

/* Section Styles */

.section1 {
    background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0,.4)) ,url('https://images.unsplash.com/photo-1458169495136-854e4c39548a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=797a9cd83a1b87912c9559b9b36ab0b4#_=_');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 20% 0;
    text-align: center;
    color: #fff;
}

.section2 {
    padding: 20% 0;
}

.section2 img {
    border-radius: 100%;
}

.section3 {
    background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0,.4)), url('https://images.unsplash.com/photo-1445368794737-0cf251429ca0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c63a8604f84318e52dec9895c0b676ab') top left;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 20% 0;
    text-align: center;
    color: #fff;
}
.section4 {
    padding: 200px 0;
}
.section5 {
    padding: 200px 0;
    background-color: #484f52;
    color: #fff;
}
.section5 li {
    list-style: none;
    padding: 20px 0 10px 0;
}
.section5 i {
    padding-right: 10px;
    font-size: 18px;
}

.section-contact {
  background-color: #222;
  /*background-image: url(IMAGE!!!);*/
  background-position: center;
  background-repeat: no-repeat
}

.pt50 {
    padding-top: 50px;
}

.underline-dark, .underline-white {
    width: 15%;
    height: 1px;
    background: #333333;
    display: inline-block;
}
.underline-white {
    background: #ffffff;
}

.text-muted {
  color: #777
}

/* End Section Styles */

.bg-light-gray {
  background-color: #f7f7f7
}
.bg-darkest-gray {
  background-color: #222
}

/* Timeline Style */

.timeline {
  list-style: none;
  padding: 0;
  position: relative
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px
}
.timeline>li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px
}
.timeline>li:before, .timeline>li:after {
  content: " ";
  display: table
}
.timeline>li:after {
  clear: both
}
.timeline>li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left
}
.timeline>li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto
}
.timeline>li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto
}
.timeline>li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: #fff;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  color: white;
  margin-top: 2px;
  line-height: 14px
}
.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto
}
.timeline>li.timeline-inverted>.timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto
}
.timeline>li:last-child {
  margin-bottom: 0
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit
}
.timeline .timeline-heading h4.subheading {
  text-transform: none
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
  margin-bottom: 0
}
@media (min-width:768px) {
  .timeline:before {
    left: 50%
  }
  .timeline>li {
    margin-bottom: 100px;
    min-height: 100px
  }
  .timeline>li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right
  }
  .timeline>li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px
  }
  .timeline>li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px
  }
}
@media (min-width:992px) {
  .timeline>li {
    min-height: 150px
  }
  .timeline>li .timeline-panel {
    padding: 0 20px 20px
  }
  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px
  }
  .timeline>li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px
  }
}
@media (min-width:1200px) {
  .timeline>li {
    min-height: 170px
  }
  .timeline>li .timeline-panel {
    padding: 0 20px 20px 100px
  }
  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px
  }
  .timeline>li .timeline-image h4 {
    margin-top: 40px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 20px
  }
}

/* End Timeline Style */

/* Form Elements */

input, textarea, select {
	padding: 1em;
	color: #333;
  margin: 5px;
  border-radius: 7px;
  outline: none;
  border: 1px solid lightgrey;
}

input[type=submit] {
  padding: 20px 30px;
  margin: 0;
  line-height: 10px;
  border-color: transparent;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #94D794;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  border-color: transparent;
    color: #fff;
    background-color: #36CC7C;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 400;
    background-image: none;
}



/* User Info Style */
.user {
  text-align: center;
  margin-bottom: 50px
}
.user img {
  margin: 0 auto;
  border: 7px solid #fff
  margin 10%; 
}

.user {
  margin: 0 auto;
  max-width: 200px; 
  max-height: 200px; 
}

.user h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none
}
.user p {
  margin-top: 0
}

.img-centered {
  margin: 0 auto
}
/* End User Info Style */

.trip-card {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  min-height: 100%;
  padding: 2% 0;
  text-align: center;
}

#trip-list {
  text-align: center; 
}

.trip-nav, .trip-nav button, #not-matched-nav, .trip-nav li {
  display: inline-block;
}

.match-card {
  outline: 1px solid lightgrey; 
  margin: 5%;
  padding: 10%;
}

ul {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
}
