<div class= "page-content">
	<h1>Thanks for Tripping with Hitcher!</h1>
	<p>We hope you enjoyed your experience! We'll be adding some cool new features in the future.</p>
	<h3>Ready for your next trip?</h3>
	<a href="/trips/new"><button>New Trip</button></a>
</div>