<!-- New Trip Section -->
    <section id="new-trip">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                    <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
        
                    <form onsubmit="hitcher.createTrip(event)">
                      <h2>I'm A:</h2>
                      <label for="driver">Driver</label>
                      <input type="radio" name="userType" id="driver" value="Driver" checked="checked"required>
                      <label for="driver">Rider</label>
                      <input type="radio" name="userType" id="rider" value="Rider">
                      <br>
                      <h2>Traveling:</h2>
                      <select type="number" name="fromLocation" placeholder="From Zipcode" required>
                        <option value="94133">94133</option>
                        <option value="94129">94129</option>
                        <option value="94123">94123</option>
                        <option value="94111">94111</option>
                        <option value="94121">94121</option>
                        <option value="94118">94118</option>
                        <option value="94115">94115</option>
                        <option value="94109">94109</option>
                        <option value="94108">94108</option>
                        <option value="94104">94104</option>
                        <option value="94105">94105</option>
                        <option value="94131">94131</option>
                        <option value="94132">94132</option>
                        <option value="94122">94122</option>
                        <option value="94117">94117</option>
                        <option value="94102">94102</option>
                        <option value="94103">94103</option>
                        <option value="94158">94158</option>
                        <option value="94116">94116</option>
                        <option value="94114">94114</option>
                        <option value="94110">94110</option>
                        <option value="94107">94107</option>
                        <option value="94127">94127</option>
                        <option value="94124">94124</option>
                        <option value="94112">94112</option>
                        <option value="94134">94134</option>
                      </select>
                      <select type="number" name="toLocation" placeholder="To Zipcode" required>
                        <option value="94133">94133</option>
                        <option value="94129">94129</option>
                        <option value="94123">94123</option>
                        <option value="94111">94111</option>
                        <option value="94121">94121</option>
                        <option value="94118">94118</option>
                        <option value="94115">94115</option>
                        <option value="94109">94109</option>
                        <option value="94108">94108</option>
                        <option value="94104">94104</option>
                        <option value="94105">94105</option>
                        <option value="94131">94131</option>
                        <option value="94132">94132</option>
                        <option value="94122">94122</option>
                        <option value="94117">94117</option>
                        <option value="94102">94102</option>
                        <option value="94103">94103</option>
                        <option value="94158">94158</option>
                        <option value="94116">94116</option>
                        <option value="94114">94114</option>
                        <option value="94110">94110</option>
                        <option value="94107">94107</option>
                        <option value="94127">94127</option>
                        <option value="94124">94124</option>
                        <option value="94112">94112</option>
                        <option value="94134">94134</option>
                      </select>
                      <input type="submit" class="btn">
                    </form>

                </div>
            </div>
        </div>
    </section>
