<form onsubmit="createTrip(event)">
  <label for="user-type">I'm A:</label>
  <input type="radio" name="user-type" value="Driver">
  <input type="radio" name="user-type" value="Rider">
  <input type="number" name="fromLocation" placeholder="From Zipcode">
  <input type="number" name="toLocation" placeholder="To Zipcode">
  <input type="submit">
</form>
