<h1>New Users Sign Up Here</h1>
<form onsubmit="newUser()">
	<input type="text" placeholder="Name">
	<input type="text" placeholder="Email">
	<input type="password" placeholder="Password">
	<input type="password" placeholder="Confirm Password">
	<input type="text" placeholder="Mobile Number">
	<input type="text" placeholder="Avatar Image URL">
	<input type="submit" value="Sign Up">
</form>