<h1>New Users Sign Up Here</h1>
<form onsubmit="createUser(event)">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password"> {{!-- TODO - fix to use Bcrypt --}}
	<input type="password" placeholder="Confirm Password">
	<input type="text" name="mobileNumber" placeholder="Mobile Number">
	<input type="text" name="imageUrl" placeholder="Avatar Image URL">
	<input type="submit" value="Sign Up">
</form>
